<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bully Watch</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h2><%= bully.name %> (edit)</h2>
    <form action="/bullies/<%= bully._id %>" method="post">
      <p><label>Name: </label><input type="text" name="name" value="<%= bully.name %>"></p>
      <p><label>Age: </label><input type="text" name="age" value="<%= bully.age %>"></p>
      <p><label>Type: </label><select name="type">
        <option value="<%= bully.type %>" selected><%= bully.type %></option>
        <option value="Physical">Physical</option>
        <option value="Verbal">Verbal</option>
        <option value="Emotional">Emotional</option>
        <option value="Romantic">Romantic</option>
      </select></p>
      <p><label>Add a report: </label></p>
      <p><textarea name="reports" rows="4" cols="50"></textarea></p>
      <input type="submit" name="submit" value="Submit">
    </form>
    <p>Has this bully reformed? <a href="/bullies/destroy/<%= bully._id %>">Remove from list</a></p>
  </body>
</html>
